.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    height: 600px;
    width: 300px;
	border: groove;
}
.grid-item {
    font-size: 30px;
    text-align: center;
}

#board>img{
	height: 30px;
	width: 30px;
}

.menuButton {
	height: 100px;
	width: 100px;
	position: fixed;
	top: 110px;
	cursor: pointer;
}

#homeButton{
	top: 0px;
}

.menuButton:hover {
	height: 90px;
	width: 90px;
}

#reloadButton:hover {
	transform: rotate(360deg);
	transition: 1s;
}

p{
	text-align: center;
	font-size: 20px;
	font-family: "Monaco", "Courier New", monospace;
}