.menuButton {
	height: 100px;
	width: 100px;
	position: fixed;
	top: 110px;
	cursor: pointer;
}

#homeButton{
	top: 0px;
}

.menuButton:hover {
	height: 90px;
	width: 90px;
}

#reloadButton:hover {
	transform: rotate(360deg);
	transition: 1s;
}

#header{
	margin-top: 20px;
	display: inline-block;
}
#emoji:hover{
	cursor: pointer;
	transform: rotate(360deg);
	transition: 1s;
}
#flag:hover{
	cursor:pointer;
}
p{
	margin: 5px;
	font-size: 20px;
	font-family: "Monaco", "Courier New", monospace;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  height: 450px;
  width: 450px;
  padding: 10px;
  align-self: center;
  justify-items: center;
}
.grid-item {
  height: 45px;
  width: 45px;
  padding: 50px;
}
.tile{
	height: 45px;
	width: 45px;
}
#emoji{
	height: 40px;
	width: 40px;
}
#flag{
	height: 40px;
	width: 40px;
	margin-bottom: 5px;
}
